

.container{

    background-color: white;
    border-radius: 6px;
    width: 600px;
    max-width: 600px;
    margin: auto;
    /* padding-bottom: 10px; */
    padding: 10px;

    
}

.container h1{
    padding-top: 10px;
    padding-left: 10px;
}

table{
    
    
}

body{
    background-color: rgb(4, 80, 80);
}

form{

    /* margin-bottom: 10px; */
}